<div class="card text-white bg-{{bgClass}}" *ngIf="data">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-2">
                <h1>{{data.CryptoCurrency}}</h1>
                <div class="d-block huge">zamiana z {{data.CountryCurrency}}</div>
                <div class="d-block huge">Ilość: {{data.HowManyBought}}</div>
            </div>
            <div class="col col-xs-8 text-right" *ngIf="ratio">
                <div class="d-block">Bazowe ratio: <br/> {{data.OriginalExchangeRate}}</div>
                <div class="d-block" *ngIf="ratio && ratio.last">Ostatnie ratio: <br/> {{ratio.last}}</div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class='income' *ngIf="ratio">
                {{(data.HowManyBought * (ratio.last - data.OriginalExchangeRate))  | number : '1.2-2' }}
            </div>
        </div>
    </div>
    <div class="card-block" id="{{data.CryptoCurrency+'-'+data.CountryCurrency}}">
        <!--<iframe id="iframe-chart" style='width:100%;height:auto;' src='https://bitbay.net/pl/kurs-walut/kurs-lisk-pln' name="disable-x-frame-options" sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-pointer-lock"></iframe>-->
        <!--<webview preload='../preload.js' id="foo" src="https://bitbay.net/pl/kurs-walut/kurs-lisk-pln" style="display:inline-flex; width:100%; height:400px"></webview>-->
        <!--<webview preload='../preload.js'  attr.src="https://bitbay.net/pl/kurs-walut/kurs-{{dict[data.CryptoCurrency]}}-{{data.CountryCurrency.toLowerCase()}}?a={{data.CountryCurrency}}&b={{data.CryptoCurrency}}" style="display:inline-flex; width:100%; height:400px"></webview>-->
        <webview preload='../preload.js'  attr.src="https://bitbay.net/pl/kurs-walut/kurs-{{dict[data.CryptoCurrency]}}-{{data.CountryCurrency.toLowerCase()}}" style="display:inline-flex; width:100%; height:400px"></webview>
    </div>
    <div class="card-footer"> 
        <a [href]="'https://app.bitbay.net/market/'+data.CryptoCurrency+'-'+data.CountryCurrency" class="btn btn-primary float-left card-inverse card-button">
            <span><i class="fa fa-arrow-right"></i> Sprawdź</span>
        </a>
        <a (click)="removeInvestment(data.Id)" class="btn btn-primary float-right card-inverse card-button">
            <span><i class="fa fa-remove"></i> Usuń </span>
        </a>
    </div>
</div>
